body {
    font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
   color: black;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #1f2937;
  }

  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
/* Got the font family set up to roboto which is a start. 
Next I need to use the css settings from the flex header 2 code to make the nav like the one in the design /*

/* Got the header kind of where I want it in terms of spacing. 
But may need to adjust the background color to be in a container in the hero section so it can cover the background all over/*
