body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.hero-section {
  background-color: #1F2937;
  height: 532px;
}

.hero-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
   text-decoration: none;
   color: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }




/* Got the font family set up to roboto which is a start. 
Next I need to use the css settings from the flex header 2 code to make the nav like the one in the design /*

/* Got the header kind of where I want it in terms of spacing. 
But may need to adjust the background color to be in a container in the hero section so it can cover the background all over. The spacing is ok
I just think I need to adjust the margins to get them away from the edges. It looks like I need to do margin left right to get it away from the edges.  Also I don't think I need the left and right classes selected. 
I checked and it's not doing anything/*
